-if current_user.admin
  %h5 Welcome Admin
-else
  %h5 Welcome User
%h5= link_to 'User Profile', show_profile_path(current_user.id)
%img=image_tag("caldining.jpg", :align=> "center")
%table#halls
  %thead
    %tr
  %tbody
    - @halls.each do |hall|
      %tr
        %td= image_tag "#{hall.name}_logo.jpg"
        %td= link_to "See menu for #{hall.name}", hall ,:class => "btn btn-default"
        -if current_user.admin
          %td= link_to 'Edit', edit_hall_path(hall)
          %td= link_to 'Destroy', hall, method: :delete, data: { confirm: 'Are you sure?' }
        
%br
-if current_user.admin
  %td= link_to 'New Hall', new_hall_path, :class => "btn btn-default"
%td= link_to 'Show All Items', items_path, :class => "btn btn-default"
