- if user_signed_in?
  -if current_user.admin
    %h5 Welcome Admin
  -else
    %h5 Welcome User
- else
  %td= link_to "Sign in", new_user_session_path
%h1 All Halls
%table#halls
  %thead
    %tr
  %tbody
    - @halls.each do |hall|
      %tr
        %td= hall.name 
        %td= link_to "See menu for #{hall.name}", hall
        -if user_signed_in?
          -if current_user.admin
            %td= link_to 'Edit', edit_hall_path(hall)
            %td= link_to 'Destroy', hall, method: :delete, data: { confirm: 'Are you sure?' }
        
%br
-if user_signed_in?
  -if current_user.admin
    %td= link_to 'New Hall', new_hall_path
%td= link_to 'Show All Items', items_path
