- if user_signed_in?
  %h5 Welcome Admin
- else
  %td= link_to "Sign in", new_user_session_path
%h1 All Halls
%table#halls
  %thead
    %tr
  %tbody
    - @halls.each do |hall|
      %tr
        %td= hall.name 
        %td= link_to "See menu for #{hall.name}", hall
        %td= link_to 'Edit', edit_hall_path(hall)
        %td= link_to 'Destroy', hall, method: :delete, data: { confirm: 'Are you sure?' }
        
%br        
%td= link_to 'New Hall', new_hall_path