%h1 Dining Hall: #{@hall.name}

%table#halls
  %thead
    %h3 Menu Items:
    %tr
  %tbody
    - @items.each do |item|
      %tr
        %td= item.name 
        %td= link_to 'More nutrition info', item_path(item)
    - if current_user.admin
      %td= link_to 'Add New Item', new_item_path
%br
= link_to 'Back', halls_path
