<%= javascript_include_tag('https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.0/Chart.js') %>
<%= javascript_include_tag('draw.js') %>
<%= javascript_include_tag('search.js') %>
<h1>Nutrition Log</h1>

<select id="chart_picker" class= 'btn btn-default'>
  <option value="calories">Calories</option>
  <option value="fat">Fat</option>
  <option value="carbs">Carbs</option>
</select>
    <div id = "calories_div">
    <h3 id="total_calories">Calories</h3>
    <canvas id="calories_chart" width="350" height="138"></canvas>
    </div>
    <div id = "fat_div">
    <h3 id = "total_fat" >Fat</h3>
    <canvas id="fat_chart" width="350" height="138"></canvas>
    </div>
    <div id = "carb_div">
    <h3 id = "total_carb">Carb</h3>
    <canvas id="carb_chart" width="350" height="138"></canvas>
    </div>
<!--<div>-->
<!--  <div style="float: left;">-->
<!--    <p>Calories</p>-->
<!--    <canvas id="calories_chart" width="350" height="138"></canvas>-->
<!--  </div>-->
<!--  <div style="float: left;">-->
<!--    <p>Fat</p>-->
<!--    <canvas id="fat_chart" width="350" height="138"></canvas>-->
<!--  </div>-->
<!--  <div style="float: left;">-->
<!--    <p>Carb</p>-->
<!--    <canvas id="carb_chart" width="350" height="138"></canvas>-->
<!--  </div>-->
<!--</div>-->
<!--THIS IS A DEMO OF VERTICAL TABLE-->
<!--<table>-->
<!--  <tr>-->
<!--    <th>Calories</th>-->
<!--    <td><canvas id="calories_chart" width="350" height="138"></canvas></td>-->
<!--  </tr>-->
<!--    <tr>-->
<!--    <th>Fat</th>-->
<!--    <td><canvas id="fat_chart" width="350" height="138"></canvas></td>-->
<!--  </tr>-->
<!--    <tr>-->
<!--    <th>Carb</th>-->
<!--    <td><canvas id="carb_chart" width="350" height="138"></canvas></td>-->
<!--  </tr>-->
<!--</table>-->

<!--THIS IS A DEMO OF HORIZONTAL TABLE FORM-->
<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Calories</th>-->
<!--      <th>Fat</th>-->
<!--      <th>Carb</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <tr>-->
<!--    <td><canvas id="calories_chart" width="350" height="138"></canvas></td>-->
<!--    <td><canvas id="fat_chart" width="350" height="138"></canvas></td>-->
<!--    <td><canvas id="carb_chart" width="350" height="138"></canvas></td>-->
<!--    <tr>-->
<!--  </tbody>-->
<!--</table>-->
<% if current_user.admin %>
  <%= link_to "Show All Halls", halls_path, :class => "btn btn-default" %>
<% end %>

<textarea id="search" name="search_box" cols="25" rows ="1" maxlength="50" placeholder="Search..."></textarea>
<table>
  <thead>
    <tr>
      <th WIDTH="100">Servings</th>
      <th WIDTH="100">Item</th>
      <th WIDTH="100">Calories</th>
      <th WIDTH="100">Fat</th>
      <th WIDTH="100">Carb</th>
      <th WIDTH="100">Cholesterol</th>
      <th WIDTH="100">Protein</th>
      <th WIDTH="100">Sodium</th>
      <th WIDTH="100">Location</th>
      <th WIDTH="100">Meal</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @user.items.each do |item| %>
      <tr class= "food">
        <td class = "servings"><%= Serving.find_by(item: item.id).total %></td>
        <td class = "name"><%= link_to item.name, item %></td>
        <td class = "calories"><%= item.calories %></td>
        <td class = "fat"><%= item.fat %></td>
        <td class = 'carbs'><%= item.carb %></td>
        <td class = "cholesterol"><%= item.cholesterol %></td>
        <td class = "protein"><%= item.protein %></td>
        <td class = "sodium"><%= item.sodium %></td>
        <td class = "location"><%= item.location %></td>
        <td class = "mealtime"><%= item.mealtime %></td>
        <td class = "add_servings"><%= link_to "Add Serving", add_servings_path(:serving_quantity => 1, :id => item.id) %></td>
        <td class = "remove_servings"><%= link_to "Remove Serving", remove_servings_path(:serving_quantity => 1, :id => item.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
