<%= javascript_include_tag('search.js') %>
<%= javascript_include_tag('add_to_diet.js') %>
<p id="notice"><%= notice %></p>
<%= @user.email %>
<br>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<h1>Nutrition Log</h1>

<textarea id="search" name="search_box" cols="25" rows ="1" maxlength="50" placeholder="Search..."></textarea>
<table>
  <thead>
    <tr>
      <th WIDTH="100">Servings</th>
      <th WIDTH="100">Item</th>
      <th WIDTH="100">Calories</th>
      <th WIDTH="100">Fat</th>
      <th WIDTH="100">Carb</th>
      <th WIDTH="100">Cholesterol</th>
      <th WIDTH="100">Protein</th>
      <th WIDTH="100">Sodium</th>
      <th WIDTH="100">Location</th>
      <th WIDTH="100">Meal</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @user.items.each do |item| %>
      <tr class= "food">
        <td class = "servings"><%= Serving.find_by(item: item.id).total %></td>
        <td class = "name"><%= link_to item.name, item %></td>
        <td class = "calories"><%= item.calories %></td>
        <td class = "fat"><%= item.fat %></td>
        <td class = 'carbs'><%= item.carb %></td>
        <td class = "cholesterol"><%= item.cholesterol %></td>
        <td class = "protein"><%= item.protein %></td>
        <td class = "sodium"><%= item.sodium %></td>
        <td class = "location"><%= item.location %></td>
        <td class = "mealtime"><%= item.mealtime %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Show All Halls", halls_path, :class => "btn btn-default" %>