<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :calories %><br>
    <%= f.text_field :calories %>
  </div>
  <div class="field">
    <%= f.label :fat %><br>
    <%= f.text_field :fat %>
  </div>
  <div class="field">
    <%= f.label :carb %><br>
    <%= f.text_field :carb %>
  </div>
  <div class="field">
    <%= f.label :cholesterol %><br>
    <%= f.text_field :cholesterol %>
  </div>
  <div class="field">
    <%= f.label :protein %><br>
    <%= f.text_field :protein %>
  </div>
  <div class="field">
    <%= f.label :sodium %><br>
    <%= f.text_field :sodium %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.collection_select(:location, Hall.all, :name, :name ,{}, { :class => "btn btn-default dropdown-toggle" }) %>
  </div>
  <div class="field">
    <%= f.label :timeframe %><br>
    <%= f.select :timeframe, ['Breakfast', 'Lunch','Dinner'], {}, { :class => "btn btn-default dropdown-toggle" }%>
  </div>
  <div class="actions">
      <%= f.submit 'Submit', :class => 'btn btn-primary ' %>
  </div>
<% end %>
