<%= javascript_include_tag('search.js') %>
<p id="notice"><%= notice %></p>
<h1>Listing Items</h1>

<textarea id="search" name="search_box" cols="25" rows ="1" maxlength="50" placeholder="Search..."></textarea>
<table>
  <thead>
    <tr>
      <th WIDTH="100">Name</th>
      <th WIDTH="100">Calories</th>
      <th WIDTH="100">Fat</th>
      <th WIDTH="100">Carb</th>
      <th WIDTH="100">Cholesterol</th>
      <th WIDTH="100">Protein</th>
      <th WIDTH="100">Sodium</th>
      <th WIDTH="100">Location</th>
      <th WIDTH="100">Timeframe</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @items.each do |item| %>
      <tr class= "food" id = <%= item.name.gsub(/\s+/, "").downcase%>>
        <td><%= item.name %></td>
        <td><%= item.calories %></td>
        <td><%= item.fat %></td>
        <td><%= item.carb %></td>
        <td><%= item.cholesterol %></td>
        <td><%= item.protein %></td>
        <td><%= item.sodium %></td>
        <td><%= item.location %></td>
        <td><%= item.timeframe %></td>
        <td><%= link_to 'Show', item ,:class => "btn btn-default"%></td>
        <% if current_user.admin %>
          <td><%= link_to 'Edit', edit_item_path(item), :class => "btn btn-default"%></td>
          <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default"%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.admin %>
  <%= link_to 'New Item', new_item_path, :class => "btn btn-default" %>
<% end %>
<%= link_to 'Show All Halls', halls_path, :class => "btn btn-default" %>
