<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @item.calories %>
</p>

<p>
  <strong>Fat:</strong>
  <%= @item.fat %>
</p>

<p>
  <strong>Carb:</strong>
  <%= @item.carb %>
</p>

<p>
  <strong>Cholesterol:</strong>
  <%= @item.cholesterol %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @item.protein %>
</p>

<p>
  <strong>Sodium:</strong>
  <%= @item.sodium %>
</p>

<p>
  <strong>Location:</strong>
  <%= @item.location %>
</p>

<p>
  <strong>Timeframe:</strong>
  <%= @item.timeframe %>
</p>

<td class = "add"><%= link_to 'Add to Nutrition Log', add_user_item_path, :class => "btn btn-default"%></td>
    
<%= link_to 'Edit', edit_item_path(@item), :class => "btn btn-default" if current_user.admin %>
<%= link_to 'Back', hall_path(id: (Hall.find_by name: @item.location).id),:class => "btn btn-default" %>
