%h1 Create New Food

= form_tag dining_path, :method => :post do

  = label :food, :calories, 'Calories'
  = text_field :food, 'calories'

  = label :food, :fat, 'Total Fat'
  = text_field :food, 'fat'

  = label :food, :carb, 'Tot. Carb'
  = text_field :food, 'carb'

  = label :food, :cholesterol, 'Cholesterol'
  = text_field :food, 'cholesterol'

  = label :food, :protein, 'Protein'
  = text_field :food, 'protein'

  = label :food, :sodium, 'Sodium'
  = text_field :food, 'sodium'
  
  = label :food, :menu, 'Restaurant'
  = text_field :food, 'menu'
  
  = label :food, :period, 'Period'
  = text_field :food, 'period'

  = submit_tag 'Save Changes'
