%h1 #{@food.name} nutrition  

%ul#nutrition
  %li
    Calories:
    = @food.calories
  %li
    Total Fat:
    = @food.fat
  %li
    Tot. Carb:
    = @food.carb
  %li
    Cholesterol:
    = @food.cholesterol
  %li
    Protein:
    = @food.protein
  %li
    Sodium:
    = @food.sodium
