<!DOCTYPE html>
<html>
<head>
  <title>Caldining</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice bg-info"><%= notice %></p>
<p class="bg-warning"><%= alert %></p>
<p class="error bg-danger"><%= flash[:error] %></p>
<%= yield %>
</body>
</html>
